@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('./fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url('./fonts/HKGrotesk-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'HKGrotesk-Regular';
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.navigation {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
}

.tab {
  width: 70%;
  height: 1600px;
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
  transition: transform 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.configurator {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 1600px;
  padding: 10% 15% 0 30%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.4s linear, transform 0.4s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  box-shadow: 0 10px 0px 0px white, 0 -10px 0px 0px white, 1px -3px 10px rgba(0, 0, 0, 0.1);

}

.configuratorImg {
  background: url('assets/options.png') repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.accessories {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 1600px;
  transition: opacity 0.4s linear, transform 0.4s cubic-bezier(0.420, 0.000, 0.580, 1.000);
  padding: 10% 20% 0 40%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(-3%, 0, 0);
  opacity: 0;
  box-shadow: 0 10px 0px 0px white, 0 -10px 0px 0px white, 1px -3px 10px rgba(0, 0, 0, 0.1);

}

.accessoriesImg {
  background: url('assets/accessories.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.visualisation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

.visualisationImg {
  background-image: url('assets/product.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 100%;
  position: fixed;
  top: 5%;
  left: 60%;
  z-index: -1;
  transition: transform 0.4s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.visualisationContainer {
  width: 100%;
  max-width: 1360px;
  min-width: 1060px;
  margin: 0 auto;
  position: relative;
}

.activeVisualisation {
  overflow-y: auto;
  cursor: auto;
}

.accordion {
  position: absolute;
  top: 440px;
  right: 5%;
  z-index: 2;
  display: none;
}

.activeAccordion {
  display: block;
  opacity: 1;
}

.unactiveAccordion {
  width: 420px;
  position: absolute;
  top: 300px;
  right: 5%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  transform: translate3d(5%, 0, 0);
}

.unactiveAccordionShow {
  opacity: 1;
  transition: opacity 0.3s linear 0.5s,
  transform 0.3s cubic-bezier(0.420, 0.000, 0.580, 1.000) 0.5s;
  transform: translate3d(0, 0, 0);
}

.animateAccordion {
  display: block;
  animation: slide 0.5s ease-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(3%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.footerPanel {
  width: 100%;
  background-color: #f3f3f3;
  height: 80px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 32px;
}

.footerSummary {
  display: flex;
  align-items: center;
}

.footerName {
  padding-right: 20px;
  font-family: 'HKGrotesk-SemiBold';
}

.thumbnail {
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin-right: 27px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.accessoriesButton {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #005041;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.visualisationImgActive {
  transform: translate3d(-100%, 0, 0);
}

.hiddenTab {
  transform: translate3d(-80%, 0, 0);
  cursor: pointer;
}

.bodyScroll {
  overflow: hidden;
}

.moveTabRight {
  transform: translate3d(-3%, 0, 0);
}

.moveImageShake {
  transform: translate3d(2%, 0, 0);
}

.moveTabLeft {
  transform: translate3d(-77%, 0, 0);
}

.showAccessories {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.hideConfigurator {
  transform: translate3d(-3%, 0, 0);
  opacity: 0;
}
